<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="/datasource.properties"/>
  
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
  	<typeAlias type="com.sh.mybatis.student.model.dto.Student" alias="student"/> <!-- 별칭을 정해줬음!  -->
  	<package name="com.sh.mybatis"/> <!-- 지정한 패키지 하위의 모든 클래스를 소문자로 시작하는 별칭으로 등록해줌 ** -->
  </typeAliases>
  
  <environments default="development"> <!-- 접속할 DB에 대한 설정 -->
    <environment id="development">
      <transactionManager type="JDBC"/> <!-- JDBC(개발코드로 직접제어) | MANAGER(컨테이너(톰캣)에 트랜잭션 위임) -->
      <dataSource type="POOLED"> <!-- POOLED 톰캣이 커넥션풀을 관리하게 함. 미리 만들어진 커넥션을 대여. close해도 톰캣에게 반환됨. -->
        <property name="driver" value="${driverClass}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="/sql/student/student-mapper.xml"/> <!-- 패키지별 매퍼파일이 나올때마다 등록 -->
    <mapper resource="/sql/emp/emp-mapper.xml"/>
  </mappers>
</configuration>